/*CSS file - describes how HTML elements are to be displayed on screen, paper, or in other media*/
.nav-link:hover
{
    background-color:#0082D8;
    color:white ! important;
    border-radius: 10px;
}
.navbar-brand:hover
{
 font-weight:bold;
}

.zoom:hover
{
    -webkit-transform:scale(1.2);
}
.mydivstyle:hover{
    transform:translateY(-20px);
}
/*end of the CSS file*/
